/*-----Globales-----*/
	@font-face {
	    font-family: 'Amatic';
	    src:url('https://s3-sa-east-1.amazonaws.com/cjs19-bucket/static/css/Amatic-SC-Regular.ttf.woff') format('woff'),
	        url('https://s3-sa-east-1.amazonaws.com/cjs19-bucket/static/css/Amatic-SC-Regular.ttf.svg#Amatic-SC-Regular') format('svg');
	    	
		font-weight: normal;
	    font-style: normal;
		}
	* {
		margin: 0;
		padding: 0;

		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;	
	}
	ul {
		list-style: none;
	}
	.container{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
	}
	a:link:visited:active{
		text-decoration: none;
	}
/*-----Header and nav-----*/

	header{
		width: 100%;
		max-width: 100%;
		height: 170px;
		background:url(header-bg.gif);
		-webkit-background-size: 100% 100%;
		        background-size: 100%;
		/*display: flex; */
		/*display: inline-block;*/
		align-items: center;
		/*justify-content: space-between;*/       
	}
	.header-cont{
		justify-content: space-between;
		width: 100%;
		height: 100%;
		align-items: center;
		/*float: right;*/
	}
	div .nav{
		float: right;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
		/*text-align: right;*/
		max-width: 40%;

	}
	header img {
		max-height: 200px;
		position: relative;
		overflow: hidden;
		margin: auto;
		align-self: flex-end;
		bottom: -20px;
	}
	.head-img{
		align-self: flex-end;
	}
	header h1{
		float: left;
		right: 15px;
		font-family: 'Amatic'!important;
	}
	header h1 a {
		font-family: 'Amatic'!important;
		text-decoration: none;
		font-size:1.3em;
		line-height:60%;
		color:#fff;
		font-weight:normal;
		/*background:url(../images/asd.png) no-repeat;*/
		-webkit-background-size: 100px 100px;
		        background-size: 100px;
		padding:6px 0 8px 0px;
		position:relative;
		right: -15px;
		display: table-cell;
		vertical-align: middle;
	}
	/*.nav{
		max-width: 340px;
	}*/
	header nav {
		position: relative;
		/*float:right;
		left: 18%;*/
		/*top: 0px;*/
	}
			header nav ul li {
				
				float: left;
			}
				header nav ul li a {
					font-size: 16px!important;
					font-family: Georgia, serif!important;
					color:#fff;
					height:46px;
					line-height:46px;
					text-decoration:none;
					width:4.7em;
					font-weight:900!important;
					/*border: 1px solid black;*/
					text-align:center;
					vertical-align: middle;
					float:right;
					background:#e15b64;
					background-image: gradient(top, #e15b64, #e15b64); /* FF3.6 */
					background-image: -moz-linear-gradient(top, #e15b64, #e15b64); /* FF3.6 */
					background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #e15b64),color-stop(1, #e15b64)); /* Saf4+, Chrome */
	        filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#e15b64', EndColorStr='#e15b64'); /* IE6,IE7 */
	        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#383282', EndColorStr='#484095')"; /* IE8 */
			}
			header nav ul li a:hover{
				/*font-size: 16.5px;*/
				height: 50px;
				transition-duration: 0.4s;
			}
			header nav ul li a.current, header nav ul li a:hover {
				padding-bottom:5px;
			}
			
			header nav ul li:nth-of-type(2) a {
				background:#f27f62;
				background-image: -moz-linear-gradient(top, #f27f62, #f27f62); /* FF3.6 */
				background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f27f62),color-stop(1, #f27f62)); /* Saf4+, Chrome */
				filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#f27f62', EndColorStr='#f27f62'); /* IE6,IE7 */
				-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#017bc8', EndColorStr='#018ed3')"; /* IE8 */
			}
			header nav ul li:nth-of-type(3) a {
				background:#fbb36b;
				background-image: -moz-linear-gradient(top, #fbb36b, #fbb36b); /* FF3.6 */
				background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #fbb36b),color-stop(1, #fbb36b)); /* Saf4+, Chrome */
				filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#73b515', EndColorStr='#86c31d'); /* IE6,IE7 */
				-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#73b515', EndColorStr='#86c31d')"; /* IE8 */
			}
			header nav ul li:nth-of-type(4) a {
				background:#abbc85;
				background-image: -moz-linear-gradient(top, #abbc85, #abbc85); /* FF3.6 */
				background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #abbc85),color-stop(1, #abbc85)); /* Saf4+, Chrome */
				filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#abbc85', EndColorStr='#abbc85'); /* IE6,IE7 */
				-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffb500', EndColorStr='#ffc300')"; /* IE8 */
			}
			header nav ul li:nth-of-type(5) a {
				background:#849b89;
				background-image: -moz-linear-gradient(top, #849b89, #849b89); /* FF3.6 */
				background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #849b89),color-stop(1, #849b89)); /* Saf4+, Chrome */
				filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#849b89', EndColorStr='#849b89'); /* IE6,IE7 */
				-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ee6c01', EndColorStr='#f27f02')"; /* IE8 */
			}
			header nav ul li:nth-of-type(6) a {
				background:#d00110;
				background-image: -moz-linear-gradient(top, #d00110, #da0116); /* FF3.6 */
				background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #d00110),color-stop(1, #da0116)); /* Saf4+, Chrome */
				filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#d00110', EndColorStr='#da0116'); /* IE6,IE7 */
				-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#d00110', EndColorStr='#da0116')"; /* IE8 */
			}
/*-----Main-----*/

	main {
		border-top:5px solid #eaeaea;
		
		width:100%;
		margin: 0px 0px 0px;
		padding: 25px 15px;

		background:#fff; 
		font-family:Arial, Helvetica, sans-serif;
		font-size:100%; 
		line-height:1.125em;
		color:#242424;
	}
	main:hover{
		background: #fffef2;
	}
	.cont-main{
		position: relative;
		margin-top: 50px;
		/*clear: both;*/
	}
	.ima{
		position: relative;
		width: 80%;
		height: 400px;
		margin: auto;
		margin-top: 35px;
		margin-bottom: 0px;
		justify-content: center;
	}
	.ima img{
		position: relative;
		margin: auto;
		width: 80%;

		left: 30px;
		clear: both;
		margin-bottom: 30px;
		max-height: 500px;
	}
	footer{
			clear: both;
			padding:20px 0 22px 0;
			border-top:5px solid #eee;
			background: url(header-bg.gif);
			color:#fff;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			justify-content: center;
	}
/*-----Content-----*/
	article p {
	/*	float: right;
		position: relative;
		height: auto;
		width: 60%;
		border:3px solid #ebebeb;
		border-radius:4px;
		-moz-border-radius:4px;
		-webkit-border-radius:4px;*/
		font-family: cursive;
		font-weight: bold;
		font-size: 1.2em;
		font-style: oblique;
		line-height: 100%;
	}
	.content h2 {
		text-align: center;
	}
	.content img {
		border: solid;
		border-color:#bbb;
	}
	article img {
		float: right;
		width: 65%;
		max-width: 480px;
		height: auto;
		position: relative;
		margin: 15px;
		border:3px solid #ebebeb;
		/*clear: both;*/
	}
	article h2 {
		font-size: 1.7em;
		margin-top: 10px;
	}
	div .aside{
		margin:0;
		position: relative;
		width: 26%;
	}
	aside{
			float: left;
			width: 85%;
			position: relative;
			margin: auto;
			margin-bottom: 70px;
			margin-right:17px;
			padding:2% 2% 4%;
			top:3px;
			background: #EF7624;
			border:solid;
			border-color: #181919;
			border-width: 4px;
		}
	aside:hover {
		background: #F48133;
		color:#000;
		font-weight: bold;
	}
	aside .posteos {
		position: relative;
		width: 100%;
		/*right: 55px !important;*/
		justify-content: center;
	}
	aside div h2 {
		position: relative;
		/*margin:auto;*/
		margin: 12px 26% 17px;
	}
	aside h2:hover {
		font-weight: bold;
		font-size: 1.8em;
		color:#242424;
	}
	aside h3 a {
		color:#000;
		text-decoration: none;
	}
	aside h3 a:hover {
		font-size: 1.2em;
		font-weight: bold;
		color:#242424;
	}
/*-----El viaje-----*/
	.map h2{
		font-family: Georgia, serif!important;
		font-size: 24px;
	}
	/*.map{
		clear: both;
		width: 70%!important;
		max-height: 700px;
		margin: auto;
		margin-top: 60px;
		margin-bottom: 20px;
	}*/
	.main-post{
		justify-content: flex-start;
	}
	.content-post{
		margin: 35px;
		padding: 15px;

	}
	.content-post h2{
		margin: 15px 0px;
	}
	.post{
		width: 45%;
		margin: 15px 10px;
		padding: 15px;
		left: 40px!important;
		border: solid;
		border-width: 3px;
		border-color: #adadad;
		border-radius: 10px;
		text-align: center;
		/*justify-content: center;*/
		align-items: center;
		/*display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;*/
	}
	.post:hover{
		border-color: black;
		border-width: 5px;
		background: #f0f0f0;
		transition: 0.3s;
	}
	.post:hover a p{
		font-weight: 800;
		font-size: 37px;
		transition: 0.6s;
	}
	.post a p{
		text-decoration: none;
		font-size: 30px;
		font-weight: 600;
		font-family: cursive;
		line-height: 45px;
		/*top: 29px;*/
	}
	/*.post a p:hover{
		font-weight: 700;
		font-size: 24px;
	}	*/
	.post a{
		text-decoration: none;
		color: #000;
		display: display: -webkit-inline-flex;
		display: -moz-inline-flex;
		display: -ms-inline-flex;
		display: -o-inline-flex;
		display: inline-flex;
	}
	.post p{
		font-family: 'Amatic'!important;
		text-decoration: none;
		font-size: 33px;
		font-weight: 800;
		font-family: cursive;
		line-height: 45px;
		/*top: 29px;*/
	}
	.content-post1{
		justify-content: center;
		display: block;
		/*left: 40px!important;*/
	}
	.post2{
			position: relative;
			width: 85%;
			margin: 15px 10px;
			padding: 15px;
			border: solid;
			left: 40px!important;
			/*border-width: 3px;
			border-color: #adadad;*/
			border-color: black;
			border-width: 5px;
			background: #f0f0f0;
			border-radius: 10px;
			text-align: center;
			justify-content: center;
	}
	.post2 img{
		max-width: 90%;
	}
/*-----Fotos-----*/
	.content-post1{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		/*width: 80%;*/
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
		justify-content: center;
	}
	.photos{
		width: 100%;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;

	}
	.post1{
			width: 60%;
			max-height: 800px;
			margin: 15px 10px;
			padding: 15px;
			border: solid;
			/*border-width: 3px;
			border-color: #adadad;*/
			border-color: black;
			border-width: 5px;
			background: #f0f0f0;
			border-radius: 10px;
			text-align: center;

			justify-content: center;
			flex-wrap: wrap;
			display: flex;

		}
	.post1 p{
		font-family: 'Amatic'!important;
		font-weight: 800;
		text-decoration: none;
		font-size: 32px;
		font-family: cursive;
		line-height: 65px;
		/*top: 29px;*/
	}
	.gallery1{
		width: 90%;
		display: -webkit-inline-flex;
		display: -moz-inline-flex;
		display: -ms-inline-flex;
		display: -o-inline-flex;
		display: inline-flex;
		justify-content: center;
		flex-wrap: wrap;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
	.gallery1 .img2{
		/*position: relative;*/
		max-width: 100%;
		/*width: 100%;*/
		max-height: 380px;
		/*height: 400px;*/
	}
	.gallery1 img{
		/*min-width: 65%;*/
		/*display: block;*/
		min-width: 65%;
		max-width: 100%; 
		/*height: auto;*/
		max-height: 380px;
	}
/*-----Contacto-----*/
	.main-box2{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: center;
		/*flex-direction: column;*/
	}
	.container1{
		width: 80%;
		justify-content: center;
	}
	.title{
		margin: 45px 0px 10px;
		clear: both;
	}
	/*div .aside1{
		margin:0;
		position: relative;
	}*/
	.aside1{
		width: 100%;
		position: relative;
		clear: both;
		margin: auto;
		margin-bottom: 70px;
		/*margin-right:17px;*/
		padding:2% 2% 4%;
		background: #EF7624;
		border:solid;
		border-color: #181919;
		border-width: 4px;
		border-radius: 10px;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		/*display: inline-block;*/
		flex-wrap: wrap;
		/*flex-direction: row;*/
		justify-content: center;
	}

	.contact{
		width: 25%;
		min-width: 185px;
		max-width: 200px;
		position: relative;
		margin: 12px 15px;
		padding:2% 2% 4%;
		background: #FF8E42;
		border:solid;
		border-color: #181919;
		border-width: 4px;
		border-radius: 10px;
		flex-wrap: wrap;
		display: inline-block;
		justify-content: space-around;
		overflow: hidden;
		vertical-align: top;
		text-align: center;
	}
	.contact:hover{
		background: #FFBF80;
	}
	.contact a .fa{
		text-decoration: none!important;
		color: black;
	}
	.contact a{
		text-decoration: none!important; 
		color: black;
	}
/*-----Colabora-----*/
	.main-box1 {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: center;
	}
	.colabora-main{
		margin-top: 40px;
		width: 80%;
		justify-content: center;
	}
	.colabora-main p{
		font-size: 1.1em;
		font-weight: 600;
	}
	.paypal{
		/*flex-direction: column;*/
		width: 35%;
		border-style: solid;
		border-width: 2px;
		border-color: #b7b7b7;
		border-radius: 10px;
	}
	/*.mano{
		top: 200px;
		width: 40%;
	}
	.mano img{
		top:200px;
		width: 110%;
	}*/
/*-----Roller-----*/

	.asd{
		justify-content: center;
		position: relative;
		margin-top: px;
	}
	/*.asd:hover{
		background: #F1FBCB;
	}*/
	.gallery{
		position: relative;
		align-content: center;
		justify-content: center;
	}
	.gallery li img{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
	}
	.roundabout-holder { 
		width:60%;
		height: 40rem;
		max-height: 500px;
		margin:0 auto;
		/*align-content: center;*/
		/*justify-content: center;*/
		position: relative;

	}
	#myRoundabout{
		width: 85%;
	}
	.roundabout-moveable-item {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
	   width: 93%;
	   height: 67%;
	   cursor: pointer;
		 border:3px solid #ccc;
		 border:3px solid rgba(0, 0, 0, 0.08);
	   border-radius:4px;
		 -moz-border-radius:4px;
		 -webkit-border-radius:4px;
	}
	.roundabout-moveable-item img{
		width:100%;
	}
	.roundabout-in-focus {
		border:3px solid rgba(0, 0, 0, 0.5);
	}
/*-----news list styles-----*/
	.news li {
		overflow:hidden;
		position:relative;
		padding:0 0 26px 84px;
	}
	.news li:last-child {
		padding-bottom:0;
	}
	
		.news li figure {
			width:59px;
			height:59px;
			background:url(../images/date-bg1.gif) no-repeat 0 0;
			position:absolute;
			left:0;
			top:0;
			text-align:center;
			border:3px solid #000;
			border-radius:4px;
			-moz-border-radius:4px;
			-webkit-border-radius:4px;
			font-size:10px;
			color:#fff;
			text-transform:uppercase;
		}
			.news li figure strong {
				display:block;
				font-size:30px;
				line-height:1.2em;
				margin-bottom:-7px;
				padding-top:4px;
			}

/*-----Responsive Queries-----*/
	@media (min-width:230px) {
		.header-cont{
			justify-content: space-around;
			/*flex-wrap: wrap;*/
			/*display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;*/
		}
		header h1{
			display: none;
		}
		header nav{
			width: 100%;
			clear: both;
			display: -webkit-inline-flex;
			display: -moz-inline-flex;
			display: -ms-inline-flex;
			display: -o-inline-flex;
			display: inline-flex;
		}
		header nav ul li a{
			font-size: 14px;
			height: 38px;
		}
		.post{
			width: 95%;
		}
		/*.content-post2{
			width: 98%;
		}*/
		.main-post1{
			width: 100%;
			position: relative;
			justify-content: center;
			display: block;
			-webkit-flex-direction: row;
			-moz-flex-direction: row;
			-ms-flex-direction: row;
			-o-flex-direction: row;
			flex-direction: row;
		}
		.content-post1{
			/*justify-content: center;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;*/
			/*left: 40px!important;*/
			position: relative;
			max-width: 98%;
			justify-content: flex-start;
			right: 10px!important;
		}
		.post2{
			position: relative;
			width: 85%;
			right: 10px!important;
		}
		.map{
			display: none;
		}
		.post1{
			width: 100%;
		}
		.gallery1 img{
			max-width: 100%;
			max-height: 350px;
		}
		.gallery1 p{
			font-size: 20px;
		}
		.roundabout-moveable-item {
		    width: 110%;
		    height: 40%;
		}
		.roundabout-holder { 
			width:85%;
		}
	}
	@media (min-width:320px) { /* smartphones, iPhone, portrait 480x320 phones */ 
		
		/*div .aside{
			clear: both;
			width: 100%;
			justify-content: center;
		}
		aside{
			width: 100%;
		}
		.list{
			width: 80%;
			justify-content: center;
			margin: 15px 15px;
		}
		aside h4{
			display: inline;
			width: 90%;
			font-size: 0.82em;
		}*/
		.gallery1 p{
			font-size: 33px;
		}
		.roundabout-moveable-item {
		    width: 110%;
		    height: 45%;
		}
		.roundabout-holder { 
			width:85%;
		}
	}
	@media (min-width:380px) {
		header nav ul li a{
			font-size: 16px;
			height: 46px;
		}
	}	
	@media (min-width:481px) { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
		div .nav{
		float: right;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
		/*text-align: right;*/
		max-width: 40%;

	}
		/*div .aside{
			clear: both;
			width: 72%;
			justify-content: center;
		}*/
		.roundabout-moveable-item {
		    width: 100%;
		    height: 46%;
		}
		.roundabout-holder { 
		width:85%;
		}
		.map {
			display: block;
			width: 90%;
			clear: both;
			max-height: 700px;
			margin: auto;
			margin-top: 60px;
			margin-bottom: 20px;
		}
		
	}
	@media (min-width:641px) { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
		.header-cont{
			justify-content: space-between;
		}
		header h1{
			display: inline;
			float: left;
			right: 15px;
		}
		header h1 a {
			line-height: 42px;
			text-align: center;
		}
		
		/*main section{
			float: right;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
		}*/
		.content{
			width: 98%;
			position: relative;
			/*clear: right;*/
			float: right !important;
		}
		article{
			position: relative;
			display: inline;
			float: right;
		}
		article p{
			position: relative;
			/*float: right;*/
		}
		.img1{
			float: left;
			top: 15px;	
		}
			
			/*div .aside{
				float: left;
				width: 26%;
				position: absolute;
				top: 100%;
			}
			aside{
				width: 85%;
			}
			aside div h2{
				right: 15px;
			}
			.news li figure{
				display: inline;
			}
			.news li{
				text-align: center;
			}
			aside h3{
				width: 90%;
				top: -15px;
			}*/
			/*aside h4{
				display: inline;
				width: 90%;
				font-size: 0.82em;
				right: 20px;
			}*/
		.roundabout-moveable-item {
		    width: 100%;
		    height: 56%;
		}
		.roundabout-holder { 
		width:85%;
		}
		.map {
			width: 85%;
		}
		.post{
			width: 75%;
		}
		.content-post1{
			justify-content: center;
			width: 97%;
		}
		.post2{
			width: 85%;
		}
		.post1{
			width: 77%;
			height: 460px;
		}
	}
	@media (min-width:720px) {
		.roundabout-moveable-item {
			width: 120%;
		    height: 67%;
		}
		.roundabout-holder { 
			width:72%;
		}		
		#myRoundabout{
			width: 65%;
		}
		.map{
			width: 80%;	
		}
		.post{
			width: 60%;
		}
	}
	@media (min-width:961px) { /* tablet, landscape iPad, lo-res laptops ands desktops */ 
		.content{
			float: right !important;
		}
		
		/*.news li figure{
			display: inline
		}*/
		/*aside div h2{
			right: 0px;
		}
		aside h4{
			display: inline;
			width: 90%;
		}*/
		.roundabout-moveable-item {
		    width: 120%;
			height: 70%;
		}
		.roundabout-holder { 
			width:72%;
		}

		#myRoundabout{
			width: 60%;
		}
		.map{
			width: 70%;	
		}
		.post{
			width: 50%;
		}
	}
	@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ 
		
	}
	@media (min-width:1281px) { /* hi-res laptops and desktops */ 

	}