{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
  <title>VPLT-2017</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link rel="icon" sizes="36x36" href="{% static 'images/favicon1.png' %}" type="image/png">
  <link rel="stylesheet" href="{% static 'css/style1.css' %}" type="text/css" media="all">
<!--   <link rel="stylesheet" href="{% static "css/normalize.css" %}" type="text/css" media="all">
 --> <script type="text/javascript" src="{% static "js/jquery-1.4.2.min.js" %}" ></script>
 <script type="text/javascript" src="{% static "js/roundabout.js" %}"></script>
  <script type="text/javascript" src="{% static "js/roundabout_shapes.js" %}"></script>
  <script type="text/javascript" src="{% static "js/gallery_init.js" %}"></script>
</head>

<body>
    <!-- NavBar -->
  <header>
    <div class="container header-cont">
      <h1><a href="{% url "inicio" %}">Viajando Por La Tierra</a></h1>
      <div class="head-img">    
        <img src="{% static "images/asd.png" %}" alt="">
      </div>
      <div class="nav"> 
        <nav>
          <ul>
            <li><a href="{% url "inicio" %}">Inicio</a></li>
            <!-- <li><a href="{% url "nosotros" %}">Nosotros</a></li> -->
            <li><a href="{% url "viaje" %}">Viaje</a></li>
            <li><a href="/album/category">Galeria</a></li>
            <li><a href="{% url "contacto" %}">Contacto</a></li>
            <li><a href="{% url "colabora" %}">Colabora</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
    <!-- NavBar -->

  <div class="main-box">
    <div class="">
      {% block content %}
      {% endblock content %}
    </div>
  </div>

  <div class="container">
      {% block section %}
      {% endblock section %}
  </div>
  <div class="container">
      {% block maincontent %}
      {% endblock maincontent %}
  </div>

  {% block footer %}
  <footer>
    <div class="container">
      <div class="wrapper">
          <div class="fleft">Copyright - VPLT 2017  ©</div>
    
      </div>
    </div>
  </footer>
  {% endblock %}
</body>
</html>