{% extends 'album/base.html' %}
{% load static %}

{% block content %}
<div class="main-post">
    
      <div class="content-post">
         {% for category in categorySet %}
            <div class="post">
              <a href="/album/category/{{ category.id }}/"><p>{{ category.name }}</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div>
                <i class="fa fa-globe fa-3x" aria-hidden="true"></i>
              </div><a>
            </div>
          {% endfor %}
      </div>
    
  </div>

{% endblock content %}