{% extends 'album/base.html' %}
{% load static %}

{% block content %}
<div class="main-post">
    <div class="content-post">
        {% if childSubCategorySet %}
            {% for childSubCategory in childSubCategorySet %}
                <div class="post">
                  <a href="/album/childsubcategory/{{ childSubCategory.id }}/"><p>{{ childSubCategory.title }}</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div>
                <i class="fa fa-camera fa-3x" aria-hidden="true"></i>
              </div><a>
                </div>
            {% endfor %}
        {% else %}
            <div class="post">
              No child sub categories available
            </div>
        {% endif %}
    </div>
</div>
{% endblock content %}