{% extends 'album/base1.html' %}
{% load static %}


{% block maincontent %}

<div class="main-post">
    <div class="content-post">
        {% for gallery in gallerySet %}
            <div class="gallery" style="border: 1px solid; padding: 10px;">
                <p>Gallery Title: {{ gallery.title }}</p>
                <a href="/album/gallery/{{ gallery.gallery_id }}/detail/"><img src="{{ gallery.lastPhoto }}" style="width:200px;height:200px"/></a>
            </div>
        {% endfor %}
    </div>
</div>

<script type="text/javascript"> Cufon.now(); </script>
{% endblock maincontent %}