{% extends 'album/base.html' %}
{% load static %}

{% block content %}
<style type="text/css">
  header nav ul li:nth-of-type(3) a {
    padding-bottom:5px;
}
</style>
<div class="main-post">
    <div class="content-post">
        {% for gallery in gallerySet %}
            
            	<div class="post gallery">
            	    <a href="/album/gallery/{{ gallery.gallery_id }}/detail/"><p>{{ gallery.title }}</p></a> <br>
            	    <a href="/album/gallery/{{ gallery.gallery_id }}/detail/"><img src="{{ gallery.lastPhoto }}" style="width:200px;height:200px"/></a>
            	</div>
          
        {% endfor %}
    </div>
</div>
{% endblock content %}