{% extends 'album/base.html' %}
{% load static %}

{% block content %}
<style type="text/css">
  header nav ul li:nth-of-type(3) a {
    padding-bottom:5px;
}
</style>
<div class="main-post">
    <div class="content-post">
        <div class="photos">
            {% for photo in photoSet %}
                
                <div class="post1">
                    <div class="gallery1">
                        <div>
                            <p>{{ photo.gallery.title }}</p>
                        </div>
                        
                        <div>
                            <img src="{{ photo.photo.url }}"/>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}