{% extends 'album/base.html' %}
{% load static %}

{% block content %}
<div class="main-post">
    <div class="content-post">
        <table style="width:100%">
            <tr>
            {% for photo in photoSet %}
                <td class="post">
                    <div class="gallery">
                        <p>Gallery Title: {{ photo.gallery.title }}</p>
                        <img src="{{ photo.photo.url }}" style="width:200px;height:200px"/>
                    </div>
                </td>
            {% endfor %}
            </tr>
        </table>
    </div>
</div>
{% endblock content %}