{% extends 'album/base.html' %}
{% load static %}


{% block content %}


<div class="main-post">
    <div class="content-post">
        {% if categorySet %}
            {% for category in categorySet %}
                <div class="post">
                  <a href="/category/{{ category.id }}/"><p>{{ category.title }}</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div>
                <i class="fa fa-map-marker fa-3x" aria-hidden="true"></i>
              </div><a>
                </div>
            {% endfor %}
        {% else %}
            <div class="post">
              No categories available
            </div>
        {% endif %}
    </div>
</div>

{% endblock content %}
