{% extends "base.html" %}
{% load staticfiles %}  

{% block content %}
<style type="text/css">
  span {font-size: 2em;}
  header nav ul li:nth-of-type(6) a {
    padding-bottom:5px;
    }
</style>


<div class="main-box1">
  <div class="colabora-main">
    <h2>Se parte de nuestro sueño!!!!</h2>
    </br></br>
    <p>Si querés colaborar con este sueño, podes hacerlo de mil maneras, una de ellas es Económicamente, para eso te dejamos las siguientes herramientas acá abajo. desde ya muchas gracias por ser parte de nuestro sueño!!! </p></br></br>

    <p><strong>CBU: 0440013440000149549428</strong></p>
     
    <p><strong>CTA: 400431413484</strong></p>
    
    <p><strong>CUIL: 23-32519155-4</strong></p>
      
    <p><strong>POLEDRI, ALEJANDRA AYELEN</strong></p>
    </br></br>
    <p><strong>PAYPAL:</strong></p>
    </br>
      <div class="paypal">
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
          <input name="cmd" type="hidden" value="_s-xclick">
          <input name="hosted_button_id" type="hidden" value="C7ZMUUH4ZRJRQ">
          <br>
          <table>
          <tbody>
          <tr><td><div>
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Como nos ayudas?</div>
          </td></tr>
          <tr><td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<select name="os0">
           <option value="Los Apoyo">Los Apoyo $10,00 USD</option>
           <option value="Les doy una mano">Les doy una mano $20,00 USD</option>
           <option value="Les doy un empujón">Les doy un empujón $50,00 USD</option>
           <option value="Los banco a morir!!">Los banco a morir!! $100,00 USD</option>
          </select> </td></tr>
          </tbody></table>
          <input name="currency_code" type="hidden" value="USD">
          <input alt="PayPal, la forma más segura y rápida de pagar en línea." border="0" name="submit" src="https://www.paypalobjects.com/es_XC/i/btn/btn_buynowCC_LG.gif" type="image">
          <img alt="" border="0" height="1" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1">
        </form>
      </div>
    <div class="mano">
      <img src="{% static 'images/pulgar-amarillo.png' %}" alt="">
    </div>
  </div>
</div>


</br></br>
  <!-- <script type="text/javascript"> Cufon.now(); </script> -->
</body>
</html>
{% endblock content %}