{% extends "base.html" %}
{% load staticfiles %}  

{% block content %}
<style type="text/css">
  header nav ul li:nth-of-type(5) a {
    padding-bottom:5px;
}
</style>

  <!-- /#gallery -->
<div class="main-box2">
  <div class="container1">
    <div class="title">
       <h2>CONTÁCTANOS O SIGUE NUESTRO VIAJE <span>DESDE:</span></h2>
    </div> <br>
    <div class="aside1">
        <div class="contact">
          <p><strong>FACEBOOK:</strong></p><br>
          <a href="https://www.facebook.com/Viajando-Por-la-Tierra-474919792700032/?fref=ts"><i class="fa fa-facebook-square fa-5x" aria-hidden="true"></i></a><br><br>
          <p><a href="https://www.facebook.com/Viajando-Por-la-Tierra-474919792700032/?fref=ts">#Viajando por la tierra</a></p>
        </div>
        <div class="contact">
          <p><strong>YOUTUBE:</strong></p><br>
          <a href="https://www.youtube.com/user/lukiss"><i class="fa fa-youtube-square fa-5x" aria-hidden="true"></i></a><br><br>
          <p><a href="https://www.youtube.com/user/lukiss">https://www.youtube.com/user/lukiss</a></p>
        </div>
        <div class="contact">
          <p><strong>TWITTER:</strong></p><br>
          <a href="https://twitter.com/VxlaTierra"><i class="fa fa-twitter fa-5x" aria-hidden="true"></i></a><br><br>
          <p><a href="https://twitter.com/VxlaTierra">https://twitter.com/VxlaTierra</a></p>
        </div>

        <!-- prueba diferencia entre de marcadores <div> y <ul> -->

        <!-- <div class="contact">
          <p><strong>INSTAGRAM:</strong></p><br>
          <p><a href="https://www.instagram.com/viajando_por_la_tierra/">https://www.instagram.com/viajando_por_la_tierra/</a></p><br>
          <a href="https://www.instagram.com/viajando_por_la_tierra/"><i class="fa fa-instagram fa-5x" aria-hidden="true"></i></a>
        </div> -->
        <!-- <div class="contact">
          <p><strong>TEL/WHATSAPP:</strong></p><br>
          <p>+354 0294 15-430-0983</p><br>
          <i class="fa fa-whatsapp fa-5x" aria-hidden="true"></i>
        </div> -->
        <ul class="contact">
          <li><strong>TEL/WHATSAPP:</strong></li><br>
          <li><i class="fa fa-whatsapp fa-5x" aria-hidden="true"></i></li><br>
          <li>+354 0294 15-430-0983</li>
        </ul>
        <ul class="contact">
          <li><strong>INSTAGRAM:</strong></li><br>
          <li><a href="https://www.instagram.com/viajando_por_la_tierra/"><i class="fa fa-instagram fa-5x" aria-hidden="true"></i></a></li><br>
          <li><a href="https://www.instagram.com/viajando_por_la_tierra/">https://www.instagram.com/viajando_por_la_tierra/</a></li>
        </ul>
    </div>
  </div>
</div>

</body>
</html>
{% endblock content %}
        
      
<!-- código mometaneamente desechado (no borrar) -->
   
    <!-- <div class="contact">
        <p></p><br>
        <p></p><br>
      </div> -->

          <!-- content -->
          <!-- <section id="content">
            <article>
              <h2>Formulario de <span>Contacto</span></h2>
              <form id="contacts-form" action="" method="post">
                <fieldset>
                  <div class="field">
                    <label>Tu nombre:</label>
                    <input type="text" value=""/>
                  </div>
                  <div class="field">
                    <label>E-mail:</label>
                    <input type="email" value=""/>
                  </div>
                  <div class="field">
                    <label>Teléfono:</label>
                    <input type="url" value=""/>
                  </div>
                  <div class="field">
                    <label>Mensaje:</label>
                    <textarea></textarea>
                  </div>
                  <div><a href="#" onclick="document.getElementById('contacts-form').submit()">Send Your Message!</a></div>
                </fieldset>
              </form>
            </article> 
          </section> -->