{% extends 'album/base.html' %}
{% load static %}

{% block content %}
<div class="main-post">
    <div class="content-post">
        <div><center><b>Post Preview</b></center></div>
        <div class="post" >
          <b>Title:</b> {{ post.title }}<br>
          <b>Vprevia:</b> {{ post.vprevia }}<br>
          <b>Created date:</b> {{ post.created_date}}<br>
          <b>Author: </b> {{ post.author.username }}<br>
          <b>text2: </b> {{ post.text2 }}<br>
        </div>
    </div>
</div>
{% endblock content %}