{% extends 'album/base.html' %}
{% load static %}

{% block content %}

<div class="main-post">
    <div class="content-post">
        {% if postSet %}
            {% for post in postSet %}
                <div><b></b></div>
                <div class="post">
                  <a href="/post_ver/{{ post.id }}/"><p>{{ post.title }}</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div>
                <i class="fa fa-bookmark-o fa-3x" aria-hidden="true"></i>
              </div></a>
                </div>
            {% endfor %}
        {% else %}
            <div class="post">
              No posts available
            </div>
        {% endif %}
    </div>
</div>
{% endblock content %}