{% extends 'album/base.html' %}
{% load static %}


{% block content %}

<div class="main-post">
    <div class="content-post">
        {% if subCategoriaSet %}
            {% for subCategoria in subCategoriaSet %}
                <div class="post">
                  <a href="/subcategory/{{ subCategoria.id }}/"><p>{{ subCategoria.title }}</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div>
                <i class="fa fa-map-marker fa-3x" aria-hidden="true"></i>
              </div><a>
                </div>
            {% endfor %}
        {% else %}
            <div class="post">
              No sub categories available
            </div>
        {% endif %}
    </div>
</div>
{% endblock content %}